<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chapter10/src/ddit/chap10/sec01/ExceptionExample01.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ddit.chap10.sec01.ExceptionExample01"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="chapter10"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="100 150"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chapter10"/>
</launchConfiguration>
